@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #D7BE82, #755C1B, #7A4419);
    padding: 1em;
}
.card{
    max-width: 35em;
    background-color: #515A47;
    width: 100%;
    margin: 10em auto 5em;
    padding: 2em;
    border-radius: 10px;
}
.card h1{
    color: #D7BE82;
    display: inline-block;
    align-items: center;
    margin-bottom: 0.5em;
}
.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 1em;
    margin-bottom: 1em;
    font-size: larger;
}
.taskText{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 0.8em;
    font-weight: 500;
}
.addBtn{
    flex: 0;
    border: none;
    outline: none;
    padding: 1em 2.4em;
    background-color: #7A4419;
    border-radius: 20px;
    color: aliceblue;
    cursor: pointer;
    position: relative;
}

/*LIST*/

.task-list li{
    list-style: none;
    padding: 1em 0.5em 1em 3em;
    user-select: none;
    cursor: pointer;
    color: #ecdab0;
    position: relative;
}
.task-list li::before{
    content: '';
    position: absolute;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    background-image: url(../img/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 0.7em;
    left: 0.5em;
    text-wrap: wrap;
}
ul li.checked{
    color: #ecdab08c;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(../img/checked.png);
}


ul li span{
    position: absolute;
    right: 0;
    top: 0.2em;
    width: 2em;
    height: 2em;
    font-size: 22px;
    color:#ecdab0;
    line-height: 2em;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background-color: #7f8b70;
}








